/* CUSTOM PROP */
:root {
    --accent-color: rgb(234, 98, 92);
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    width: 100%;
    max-width: 1250px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.main-content {
    flex-grow: 1;
}


.header-top {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.apple-logo-svg {
    margin-right: auto;
}

.logo {
    display: flex;
    background-image: url(/img/apple-logo.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 41px;
}

.header-list {}


.header-link {
    cursor: pointer;
    color: #333;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    transition: border-bottom 0.2s ease;
    padding-bottom: 5px;
}

.header-link:not(:last-child) {
    margin-right: 30px;
}

.header-link:hover {
    width: 41px;
    height: 3px;
    border-bottom: 3px solid #333;
}

.header-input {
    border: none;
    width: 153px;
    height: 23px;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 6px;
    border-bottom: 1px solid #333;
    color: #666;
    text-align: center;
    cursor: pointer;
}

.header-content {
    display: flex;
    padding-bottom: 70px;
}

.header-wrapper {
    padding-top: 85px;
    padding-bottom: 70px;
}

.headernav {}

.header-heading {
    color: #000;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 331px;
}

.header-text {
    margin-top: 0;
    margin-bottom: 0;
    width: 450px;
    height: 120px;
    display: flex;
    color: #777;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
}

.header-text::before {
    content: "";
    background-color: #ddd;
    border-left: 4px solid #ddd;
    margin-right: 40px;
}

.header-button {
    cursor: pointer;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    background-color: #EA625C;
    padding: 12px;
    transition: color 0.4s ease,
        background-color 0.4s ease,
        border 0.4s ease;
}

.header-button:hover {
    color: #C9514C;
    background-color: #fff;
    border: 2px solid #C9514C;
}

.header-button:active {
    background-color: #C9514C;
    color: #fff;
}

.main-content {}

.main-wrapper {
    display: flex;
}

.wrapper {
    margin-right: 80px;

}

.main-heading {
    color: #222;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.main-text {
    width: 280px;
    color: #333;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.main-line {
    display: flex;
    margin-bottom: 140px;
    margin-right: 10px;
}

.line {
    width: 8px;
    height: 8px;
    margin: 0;
    background-color: #ddd;
    box-shadow: 18px 0 0 #ddd,
        36px 0 0 #ddd;
}

.span {
    display: flex;
    align-items: center;
    color: #EA625C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
}

.span::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #EA625C;
    margin-right: 10px;
}

.main-inner {
    display: flex;
    padding-top: 140px;
    padding-bottom: 70px;
}

.inner {
    margin-right: 110px;
}

.main-inner-heading {
    width: 380px;
    color: #000;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.main-inner-button {
    cursor: pointer;
    width: 260px;
    padding: 12px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    background: #EA625C;
    transition: color 0.4s ease,
        background-color 0.4s ease,
        border 0.4s ease;
}

.main-inner-button:hover {
    color: #C9514C;
    background-color: #fff;
    border: 2px solid #C9514C;
}

.main-inner-button:active {
    background-color: #C9514C;
    color: #fff;
}

.watch-in-hand {
    display: flex;
}

.watch-image {
    background-image: url(/img/watch-in-hand.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
}

.footer {
    background-image: url(/img/runners\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 240px;
    padding-bottom: 240px;
}

.footer-content {
    display: flex;
    margin-left: 635px;
}

.footer-wrapper {}

.footer-heading {
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    width: 450px;
    height: 120px;
    display: flex;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
}

.footer-text::before {
    content: "";
    background-color: #ddd;
    border-left: 4px solid #ddd;
    margin-right: 40px;
}

.footer-button {
    border: 0;
    padding: 12px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    background-color: #EA625C;
    transition: color 0.4s ease,
        background-color 0.4s ease,
        border 0.4s ease;
}

.footer-button:hover {
    color: #C9514C;
    background-color: #fff;
    border: 2px solid #C9514C;
}

.footer-button:active {
    background-color: #C9514C;
    color: #fff;
}